@media (max-width: 575px) {

    .container{
        width: 100%;
    }

    #navbar{
        margin-top: 45px;
    }

    .nav_items {
        padding-left: 15px;
        padding-right: 20px;
    }

    .background_image img {
        top: 100px;
        left: -80px;
        width: 100%;
        opacity: 0.1;
    }

    #sign_account{
        width: 100%;
    }

    #sign_account .container{
        justify-content: center;
        margin-top: 90px;
    }
}